@use "../common";

#location {
  position: relative;
  margin-top: 54px + 54px;
  height: 250vh;
  @include common.colorSwitch;
  @include common.media-max(1050px) {
    margin-top: 30px + 30px;
  }
  @include common.tab {
    height: 200vh;
  }

  ._sticky {
    position: sticky;
    top: 104px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include common.nb {
      top: 80px;
    }
    @include common.media-max(1050px) {
      flex-direction: column;
      align-items: stretch;
    }
    @include common.tab {
      top: 50px;
    }
  }

  .caption {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    @include common.media-max(1050px) {
      position: static;
      margin-top: 52px;
    }

    @include common.tab {
      margin-top: 26px;
    }
  }

  ._text {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 56px;

    @include common.nb_zoomed {
      margin-right: 40px;
    }

    @include common.media-max(1050px) {
      margin: 0;
      padding: 0 48px 0 80px;

    }

    @include common.tab {
      padding: 0 24px 0 40px;
    }

    h1 {
      //font-family: Roboto, sans-serif;
      font-size: 84px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
      margin: 20px 0 0;
      @include common.tab {
        margin: 0;
        font-size: 42px;
      }
    }

    h2 {
      //font-family: Roboto, sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      margin: 20px 0 40px;

      @include common.media-max(1050px) {
        margin-bottom: 56px;
      }

      @include common.tab {
        margin-top: 10px;
        font-size: 14px;
        margin-bottom: 28px;
      }
    }

    p {
      margin: 1em 0 0;
      //font-family: Inter, sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      @include common.media-max(1050px) {
        display: none;
      }
    }
  }

  ._image {
    --size: 60%;
    aspect-ratio: 1/1;
    width: var(--size);
    flex: var(--size) 0 0;
    position: relative;
    overflow: hidden;
    padding: 24px;

    @include common.media-max(1050px) {
      --size: 100%;
    }

    @include common.tab {
      padding: 12px;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      //min-width: 100%;
      //min-height: 100%;
      height: 100%;

      &.-dark {
        display: none;
      }
    }

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      content: "";
      background: linear-gradient(315deg, rgba(0, 0, 0, 0.00) 61.47%, rgba(0, 0, 0, 0.42) 96.73%);
      z-index: 1;
    }
  }

  ul {
    position: relative;
    z-index: 2;
    color: #ffffff;
    //font-family: Inter, sans-serif;
    font-size: 24.898px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    list-style: none;
    padding: 0 0 0 64px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;

    @include common.media-max(1050px) {
      gap: 24px;
      br {
        display: none;
      }
    }

    @include common.tab {
      font-size: 12px;
      padding-left: 32px;
      gap: 12px;
    }

    &::before {
      display: block;
      content: "";
      background: url(/resources/blocks/location/assets/v.svg) center / contain no-repeat;
      width: 24px;
      height: 40px;
      position: absolute;
      left: 20px;
      top: 11px;
      transition: top .2s ease-in-out;
      @include common.media-max(1050px) {
        width: 16px;
        height: 30px;
        top: -1px;
      }

      @include common.tab {
        width: 8px;
        height: 15px;
        left: 10px;
      }
    }

    li {
      cursor: default;
      user-select: none;
    }

  }

  $items: (
    em:(
      pin:(204, 638),
      arrow_top:(11, -1),
    ),
    fm:(
      pin:(385, 166),
      arrow_top:(57, 26),
    ),
    at:(
      pin:(677, 387),
      arrow_top:(107, 53),
    ),
    nt:(
      pin:(636, 288),
      arrow_top:(156, 80),
    ),
    np:(
      pin:(732, 487),
      arrow_top:(220, 107),
    ),
  );

  ._pin {
    display: block;
    position: absolute;
    z-index: 2;
    width: 55px;
    height: 76px;
    background: url(/resources/blocks/location/assets/pin.svg) center / contain no-repeat;
    opacity: 0;
    transition: all .2s ease-in-out;


    @include common.tab {
      width: 28px;
      height: 38px;
    }

    @each $name, $coords in $items {
      &.-#{$name} {
        $size_max: 957.6;
        $left: nth(map-get($coords, pin), 1);
        $top: nth(map-get($coords, pin), 2);

        left: $left*1px;
        top: $top*1px;
        @include common.nb_zoomed {
          left: ($left*100%)/$size_max;
          top: ($top*100%)/$size_max;
        }
      }
    }
  }

  @each $name, $coords in $items {
    &.-#{$name} {
      li.-#{$name} {
        color: #99C0E5;
      }

      ._pin.-#{$name} {
        opacity: 1;
      }

      ul::before {
        top: #{nth(map-get($coords, arrow_top), 1)}px;
        @include common.tab {
          top: #{nth(map-get($coords, arrow_top), 2)}px;
        }
      }
    }
  }

  ._mob {
    display: none;
    @include common.media-max(1050px) {
      display: block;
      margin: 52px 0 0;
      padding: 0 48px 0 80px;
      //font-family: Inter, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: capitalize;
    }

    @include common.tab {
      margin-top: 26px;
      padding: 0 24px 0 40px;
      font-size: 16px;

    }
  }
}
