@use "../common";

#plan-modal {
  ._body {
    padding: 40px 80px;
    @include common.media-max(870px) {
      max-height: none;
      position: absolute;
      top: 0;
      bottom: 0;
      max-width: 100%;
    }

    @include common.nb_zoomed {
      padding: 20px 40px;
    }

    @include common.media-max(870px) {
      padding: 20px;
    }

    h1 {
      margin: 0 0 40px;
      @include common.nb_zoomed {
        margin-bottom: 20px;
      }
    }

    ._split {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      gap: 64px;
      @include common.nb_zoomed {
        gap: 20px;
      }

      @include common.media-max(870px) {
        flex-direction: column;
        align-items: stretch;
      }

    }

    ._preview {
      background: #ffffff;
      display: grid;
      grid-template-columns: 98fr 98fr 480fr;
      grid-template-rows: 500fr 100fr;
      width: 761px;
      min-height: 731px;
      gap: 16px;
      padding: 24px;
      @include common.media-max(870px) {
        width: auto;
        height: auto;
        aspect-ratio: 761/731;
        min-height: 0;
        padding: 8px;
        gap: 8px;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }

      div {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: stretch;
      }

      .main {
        grid-column: 1 / 4;
      }
    }

    ._info {
      //padding: 0 64px;
      min-width: 612px;

      @include common.nb_zoomed {
        min-width: 0;
      }

      table {
        border-bottom: 1px solid #B3B2B2;

        th {
          text-align: left;
        }
      }

      .btns {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 32px;
        margin-top: 20px;
        @include common.nb_zoomed {
          gap: 16px;
        }
        @include common.media-max(870px) {
          flex-direction: column;
          margin-top: 20px;
        }

        a, button {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          background: none;
          padding: 20px;
          margin: 0;
          color: #ffffff;
          text-decoration: none;
          border: 1px solid #ffffff;
          flex: 1;
          white-space: nowrap;

          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          //font-variant: small-caps;
          cursor: pointer;

          transition: all .2s ease-in-out;

          @include common.tab-min {
            font-size: 20px;
          }

          @include common.nb_zoomed {
            padding: 8px 16px;
            white-space: normal;
          }

          @include common.media-max(870px) {
            border-width: 1px;
            font-size: 16px;
          }

          &:hover {
            background: #fff;
            color: #000000;
          }

          &::before {
            display: block;
            content: "";
            transition: all .2s ease-in-out;
            background: center / contain no-repeat;
          }
        }

        button{
          visibility: hidden;
          pointer-events: none;
        }

        a {
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34' fill='none'%3E%3Cpath d='M18.749 18.5053C20.8052 16.6429 22.7302 14.8862 24.6697 13.1426C24.8301 12.9973 24.9906 12.8388 25.1801 12.7068C25.8947 12.1916 26.8718 12.2313 27.4989 12.8124C28.1259 13.3804 28.1697 14.2918 27.6009 14.9258C27.4843 15.0579 27.3384 15.19 27.2072 15.3088C24.3197 17.9373 21.4177 20.5658 18.5302 23.1811C17.4511 24.1585 16.5761 24.1585 15.4823 23.1679C12.5803 20.5262 9.66365 17.8977 6.76161 15.2428C6.46994 14.9786 6.20745 14.6352 6.0762 14.2918C5.82828 13.6049 6.20744 12.8785 6.89285 12.5351C7.59284 12.1784 8.39492 12.2709 9.022 12.8388C10.8886 14.5163 12.7261 16.1938 14.5782 17.8713C14.7678 18.043 14.9282 18.2411 15.1032 18.4128C15.1469 18.3996 15.2053 18.3732 15.249 18.36C15.249 18.1751 15.249 17.9901 15.249 17.8052C15.249 12.5483 15.249 7.27808 15.249 2.02111C15.249 1.80978 15.2344 1.59844 15.2636 1.3871C15.3803 0.594597 16.0948 0.0134243 16.9698 0.00021585C17.8594 -0.0129926 18.6177 0.581387 18.7198 1.40031C18.749 1.61165 18.7344 1.82298 18.7344 2.03432C18.7344 7.27808 18.7344 12.5218 18.7344 17.7656C18.749 17.9769 18.749 18.1751 18.749 18.5053Z' fill='white'/%3E%3Cpath d='M17.039 30.8867C21.9898 30.8867 26.9406 30.8867 31.8913 30.8867C32.1182 30.8867 32.3584 30.8867 32.5852 30.9116C33.3859 30.9864 33.9864 31.5966 33.9998 32.3439C34.0131 33.0787 33.4793 33.7014 32.7053 33.826C32.4785 33.8633 32.2516 33.8758 32.0114 33.8758C22.0032 33.8758 11.9815 33.8758 1.97324 33.8758C0.82562 33.8758 0.18509 33.4523 0.0249573 32.6303C-0.135175 31.7585 0.492011 30.9988 1.42612 30.9116C1.65297 30.8867 1.89317 30.8867 2.12002 30.8867C7.09748 30.8867 12.0749 30.8867 17.039 30.8867Z' fill='white'/%3E%3C/svg%3E");
            width: 34px;
            height: 34px;
            @include common.media-max(870px) {
              width: 16px;
              height: 16px;
            }
          }

          &:hover::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34' fill='none'%3E%3Cpath d='M18.749 18.5053C20.8052 16.6429 22.7302 14.8862 24.6697 13.1426C24.8301 12.9973 24.9906 12.8388 25.1801 12.7068C25.8947 12.1916 26.8718 12.2313 27.4989 12.8124C28.1259 13.3804 28.1697 14.2918 27.6009 14.9258C27.4843 15.0579 27.3384 15.19 27.2072 15.3088C24.3197 17.9373 21.4177 20.5658 18.5302 23.1811C17.4511 24.1585 16.5761 24.1585 15.4823 23.1679C12.5803 20.5262 9.66365 17.8977 6.76161 15.2428C6.46994 14.9786 6.20745 14.6352 6.0762 14.2918C5.82828 13.6049 6.20744 12.8785 6.89285 12.5351C7.59284 12.1784 8.39492 12.2709 9.022 12.8388C10.8886 14.5163 12.7261 16.1938 14.5782 17.8713C14.7678 18.043 14.9282 18.2411 15.1032 18.4128C15.1469 18.3996 15.2053 18.3732 15.249 18.36C15.249 18.1751 15.249 17.9901 15.249 17.8052C15.249 12.5483 15.249 7.27808 15.249 2.02111C15.249 1.80978 15.2344 1.59844 15.2636 1.3871C15.3803 0.594597 16.0948 0.0134243 16.9698 0.00021585C17.8594 -0.0129926 18.6177 0.581387 18.7198 1.40031C18.749 1.61165 18.7344 1.82298 18.7344 2.03432C18.7344 7.27808 18.7344 12.5218 18.7344 17.7656C18.749 17.9769 18.749 18.1751 18.749 18.5053Z' fill='%23000'/%3E%3Cpath d='M17.039 30.8867C21.9898 30.8867 26.9406 30.8867 31.8913 30.8867C32.1182 30.8867 32.3584 30.8867 32.5852 30.9116C33.3859 30.9864 33.9864 31.5966 33.9998 32.3439C34.0131 33.0787 33.4793 33.7014 32.7053 33.826C32.4785 33.8633 32.2516 33.8758 32.0114 33.8758C22.0032 33.8758 11.9815 33.8758 1.97324 33.8758C0.82562 33.8758 0.18509 33.4523 0.0249573 32.6303C-0.135175 31.7585 0.492011 30.9988 1.42612 30.9116C1.65297 30.8867 1.89317 30.8867 2.12002 30.8867C7.09748 30.8867 12.0749 30.8867 17.039 30.8867Z' fill='%23000'/%3E%3C/svg%3E");
          }
        }

        button {
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='31' viewBox='0 0 41 31' fill='none'%3E%3Cpath d='M41 3.78506C41 11.5474 41 19.3098 41 27.0721C39.8884 30.0688 38.7222 30.8811 35.4422 30.8811C25.2742 30.8811 15.1062 30.8811 4.92 30.8811C4.46444 30.8811 4.00889 30.8631 3.57156 30.7728C1.58533 30.3215 0.528444 28.9496 0 27.0902C0 19.3278 0 11.5655 0 3.80311C1.09333 0.806479 2.25956 -0.00585938 5.55778 -0.00585938C15.7258 -0.00585938 25.8938 -0.00585938 36.08 -0.00585938C36.5356 -0.00585938 36.9911 0.012191 37.4284 0.102451C39.4147 0.535699 40.4533 1.92571 41 3.78506ZM15.5618 15.2842C11.6804 19.7791 7.85378 24.2019 3.95422 28.7149C15.0516 28.7149 26.0031 28.7149 37.1187 28.7149C33.1462 24.1477 29.3196 19.743 25.4747 15.3203C24.1809 16.3854 22.9782 17.3963 21.7573 18.3891C20.5182 19.4 20.3907 19.4 19.1516 18.353C17.9853 17.3421 16.8191 16.3493 15.5618 15.2842ZM3.55333 2.41311C9.20222 7.19689 14.8329 11.9446 20.5182 16.7464C26.24 11.9987 31.9436 7.25105 37.6836 2.46726C36.572 1.94376 4.57378 1.90765 3.55333 2.41311ZM2.24133 27.1985C2.31422 27.2166 2.36889 27.2346 2.44178 27.2707C6.26844 22.8299 10.0951 18.3891 13.9582 13.9122C10.0222 10.5907 6.15911 7.32326 2.24133 4.01974C2.24133 11.8543 2.24133 19.5264 2.24133 27.1985ZM38.5582 27.1805C38.6311 27.1624 38.704 27.1263 38.7587 27.1083C38.7587 19.5445 38.7587 11.9626 38.7587 4.27247C34.8227 7.55793 30.9778 10.7531 27.1147 13.9664C30.9778 18.4433 34.768 22.8119 38.5582 27.1805Z' fill='white'/%3E%3C/svg%3E");
            width: 41px;
            height: 31px;
            @include common.media-max(870px) {
              width: 20px;
              height: 16px;
            }
          }

          &:hover::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='31' viewBox='0 0 41 31' fill='none'%3E%3Cpath d='M41 3.78506C41 11.5474 41 19.3098 41 27.0721C39.8884 30.0688 38.7222 30.8811 35.4422 30.8811C25.2742 30.8811 15.1062 30.8811 4.92 30.8811C4.46444 30.8811 4.00889 30.8631 3.57156 30.7728C1.58533 30.3215 0.528444 28.9496 0 27.0902C0 19.3278 0 11.5655 0 3.80311C1.09333 0.806479 2.25956 -0.00585938 5.55778 -0.00585938C15.7258 -0.00585938 25.8938 -0.00585938 36.08 -0.00585938C36.5356 -0.00585938 36.9911 0.012191 37.4284 0.102451C39.4147 0.535699 40.4533 1.92571 41 3.78506ZM15.5618 15.2842C11.6804 19.7791 7.85378 24.2019 3.95422 28.7149C15.0516 28.7149 26.0031 28.7149 37.1187 28.7149C33.1462 24.1477 29.3196 19.743 25.4747 15.3203C24.1809 16.3854 22.9782 17.3963 21.7573 18.3891C20.5182 19.4 20.3907 19.4 19.1516 18.353C17.9853 17.3421 16.8191 16.3493 15.5618 15.2842ZM3.55333 2.41311C9.20222 7.19689 14.8329 11.9446 20.5182 16.7464C26.24 11.9987 31.9436 7.25105 37.6836 2.46726C36.572 1.94376 4.57378 1.90765 3.55333 2.41311ZM2.24133 27.1985C2.31422 27.2166 2.36889 27.2346 2.44178 27.2707C6.26844 22.8299 10.0951 18.3891 13.9582 13.9122C10.0222 10.5907 6.15911 7.32326 2.24133 4.01974C2.24133 11.8543 2.24133 19.5264 2.24133 27.1985ZM38.5582 27.1805C38.6311 27.1624 38.704 27.1263 38.7587 27.1083C38.7587 19.5445 38.7587 11.9626 38.7587 4.27247C34.8227 7.55793 30.9778 10.7531 27.1147 13.9664C30.9778 18.4433 34.768 22.8119 38.5582 27.1805Z' fill='%23000'/%3E%3C/svg%3E");
          }
        }
      }

      .share {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0;
        gap: 16px;
        @include common.nb_zoomed {
          margin: 20px 0;
        }

        label {
          display: block;
          padding: 0;
          color: #FFF;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 16px 0 0;
          text-transform: uppercase;

          @include common.media-max(870px) {
            font-size: 20px;
          }
        }

        a {
          --size: 71px;
          width: var(--size);
          height: var(--size);
          border: 2px solid #ffffff;
          border-radius: 50%;
          background: #000 center no-repeat;
          transition: all .2s ease-in-out;

          @include common.nb_zoomed {
            --size: 60px;
          }

          @include common.media-max(870px) {
            --size: 40px;
            border-width: 1px;
          }

          &.wa {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='39' viewBox='0 0 37 39' fill='none'%3E%3Cpath d='M0 38.379C0.442798 36.7258 0.862889 35.165 1.28298 33.5927C1.69172 32.0782 2.10045 30.5752 2.49783 29.0491C2.5546 28.841 2.5319 28.552 2.42971 28.367C-2.62273 18.829 1.0332 7.14064 10.5704 2.40054C21.1635 -2.87137 33.9592 3.41793 36.5479 15.1526C38.7278 25.0721 32.8238 34.9569 23.1731 37.4773C18.6543 38.6565 14.2944 38.1247 10.1162 35.9974C9.90051 35.8818 9.59396 35.8587 9.35553 35.9165C6.39219 36.6911 3.42885 37.4888 0.465505 38.2865C0.351967 38.3097 0.215722 38.3328 0 38.379ZM4.41663 33.9164C4.56423 33.8817 4.6437 33.8702 4.72318 33.8586C6.40354 33.4193 8.07255 32.9799 9.75291 32.5175C10.0935 32.425 10.3547 32.4713 10.6499 32.6447C14.2149 34.7835 18.0185 35.4078 22.0491 34.4945C30.0989 32.6562 35.3217 24.2859 33.5618 16.089C32.0745 9.15229 26.5565 4.23877 19.5853 3.76476C14.6237 3.42949 10.4228 5.19835 7.13018 8.97887C2.5319 14.2508 1.97556 21.6384 5.62013 27.6271C5.86991 28.0433 5.92668 28.3786 5.79043 28.8526C5.31358 30.5058 4.89349 32.1707 4.41663 33.9164Z' fill='white'/%3E%3Cpath d='M9 14.9877C9.03451 13.3943 9.63259 12.0587 10.7828 11.016C11.0933 10.7348 11.5764 10.6293 12.0019 10.5122C12.278 10.4419 12.5885 10.5122 12.8761 10.5004C13.2671 10.4887 13.5547 10.6645 13.6927 11.0042C14.2678 12.3516 14.8314 13.7107 15.3719 15.0815C15.441 15.2689 15.4064 15.5735 15.2914 15.7376C14.9464 16.2765 14.5783 16.8037 14.1643 17.2841C13.8537 17.6473 13.7732 17.9636 14.0262 18.3854C15.5445 20.963 17.6378 22.8375 20.3752 23.9506C20.8007 24.1263 21.1228 24.056 21.4103 23.6811C21.8474 23.107 22.319 22.5563 22.7445 21.9705C23.0206 21.5839 23.3426 21.4667 23.7567 21.6659C25.0564 22.2869 26.3446 22.9195 27.6327 23.5405C28.0353 23.7397 28.0123 24.1146 27.9893 24.4895C27.8628 26.5867 26.7471 27.6997 24.4928 28.2855C23.4461 28.555 22.3995 28.3675 21.3643 28.0512C17.1662 26.8093 14.0032 24.1497 11.4384 20.6349C10.5067 19.3578 9.62109 18.0456 9.24154 16.464C9.12652 16.007 9.08051 15.4915 9 14.9877Z' fill='white'/%3E%3C/svg%3E");
            background-size: 52% auto;
          }

          &.tg {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='40' viewBox='0 0 44 40' fill='none'%3E%3Cpath d='M23.4492 32.7406C22.9058 33.2314 22.3478 33.7222 21.8045 34.213C20.7472 35.1657 19.7045 36.1328 18.6325 37.0567C17.6046 37.9372 15.7249 37.9228 14.8438 36.6381C14.3299 35.9019 14.0655 35.0646 13.8012 34.2274C12.8614 31.2538 11.9362 28.2657 11.0257 25.292C10.967 25.0755 10.8495 24.9889 10.6439 24.9167C8.04471 24.065 5.44549 23.2134 2.84626 22.3473C1.81831 22.0008 0.937221 21.4378 0.393879 20.4851C-0.41379 19.056 0.0414419 17.396 1.56867 16.5299C2.43508 16.0391 3.36023 15.6782 4.28538 15.3029C6.6937 14.2924 9.11671 13.2964 11.5397 12.3004C15.3137 10.7414 19.1024 9.16797 22.8765 7.60897C26.4155 6.15102 29.9399 4.67863 33.479 3.22068C35.4174 2.42675 37.3558 1.61838 39.3089 0.838884C40.19 0.478005 41.1151 0.37696 42.0256 0.723404C43.3766 1.24307 44.1843 2.55667 43.964 4.07236C43.7878 5.32822 43.5088 6.56964 43.2738 7.8255C42.892 9.75981 42.5102 11.6941 42.1284 13.6284C41.7906 15.3462 41.4382 17.064 41.1004 18.7818C40.4543 22.0153 39.8228 25.2487 39.1767 28.4678C38.6627 31.0661 38.1341 33.65 37.6348 36.2483C37.1942 38.5579 34.874 39.8138 32.5391 39.222C31.8049 39.0343 31.2469 38.6012 30.6741 38.1682C28.3246 36.3927 25.9603 34.6171 23.6107 32.8416C23.552 32.7983 23.5079 32.7694 23.4492 32.7406ZM17.2228 33.7943C19.264 31.9611 21.2611 30.1711 23.2583 28.3812C23.317 28.4245 23.3464 28.4389 23.3757 28.4678C25.9016 30.3732 28.4127 32.2642 30.9385 34.1697C31.6727 34.7182 32.3923 35.2812 33.1412 35.8153C33.6258 36.1617 34.1838 36.1906 34.316 35.4544C34.6831 33.4912 35.0796 31.5425 35.4614 29.5937C36.225 25.7395 36.9887 21.8709 37.767 18.0167C38.6187 13.7439 39.4704 9.47111 40.3221 5.18387C40.4102 4.77968 40.469 4.36106 40.5571 3.8847C28.2658 8.98031 16.0333 14.0326 3.75672 19.1138C3.8742 19.1571 3.93294 19.1715 3.99168 19.2004C6.89929 20.1676 9.82159 21.1058 12.7145 22.1163C13.4047 22.3617 13.904 22.3184 14.5354 21.9286C18.6032 19.4025 22.7002 16.9341 26.7826 14.4368C29.0294 13.0655 31.2762 11.6941 33.5377 10.3372C33.8901 10.1207 34.2426 9.9186 34.6244 9.77424C34.7859 9.7165 35.0943 9.73094 35.2118 9.84642C35.388 10.0341 35.3733 10.3083 35.1677 10.5249C35.0649 10.6404 34.9621 10.7558 34.8447 10.8569C32.5685 12.9355 30.307 15.0286 28.0309 17.1073C24.947 19.9366 21.8632 22.7659 18.7794 25.5807C18.5738 25.7684 18.4857 25.9561 18.4416 26.2159C18.1626 28.0058 17.8689 29.8102 17.5752 31.6002C17.4577 32.322 17.3403 33.0293 17.2228 33.7943Z' fill='white'/%3E%3C/svg%3E");
            background-size: 61% auto;
            background-position: 40% center;
          }

          &:hover {
            background-color: #ffffff;

            &.wa {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='39' viewBox='0 0 37 39' fill='none'%3E%3Cpath d='M0 38.379C0.442798 36.7258 0.862889 35.165 1.28298 33.5927C1.69172 32.0782 2.10045 30.5752 2.49783 29.0491C2.5546 28.841 2.5319 28.552 2.42971 28.367C-2.62273 18.829 1.0332 7.14064 10.5704 2.40054C21.1635 -2.87137 33.9592 3.41793 36.5479 15.1526C38.7278 25.0721 32.8238 34.9569 23.1731 37.4773C18.6543 38.6565 14.2944 38.1247 10.1162 35.9974C9.90051 35.8818 9.59396 35.8587 9.35553 35.9165C6.39219 36.6911 3.42885 37.4888 0.465505 38.2865C0.351967 38.3097 0.215722 38.3328 0 38.379ZM4.41663 33.9164C4.56423 33.8817 4.6437 33.8702 4.72318 33.8586C6.40354 33.4193 8.07255 32.9799 9.75291 32.5175C10.0935 32.425 10.3547 32.4713 10.6499 32.6447C14.2149 34.7835 18.0185 35.4078 22.0491 34.4945C30.0989 32.6562 35.3217 24.2859 33.5618 16.089C32.0745 9.15229 26.5565 4.23877 19.5853 3.76476C14.6237 3.42949 10.4228 5.19835 7.13018 8.97887C2.5319 14.2508 1.97556 21.6384 5.62013 27.6271C5.86991 28.0433 5.92668 28.3786 5.79043 28.8526C5.31358 30.5058 4.89349 32.1707 4.41663 33.9164Z' fill='black'/%3E%3Cpath d='M9 14.9877C9.03451 13.3943 9.63259 12.0587 10.7828 11.016C11.0933 10.7348 11.5764 10.6293 12.0019 10.5122C12.278 10.4419 12.5885 10.5122 12.8761 10.5004C13.2671 10.4887 13.5547 10.6645 13.6927 11.0042C14.2678 12.3516 14.8314 13.7107 15.3719 15.0815C15.441 15.2689 15.4064 15.5735 15.2914 15.7376C14.9464 16.2765 14.5783 16.8037 14.1643 17.2841C13.8537 17.6473 13.7732 17.9636 14.0262 18.3854C15.5445 20.963 17.6378 22.8375 20.3752 23.9506C20.8007 24.1263 21.1228 24.056 21.4103 23.6811C21.8474 23.107 22.319 22.5563 22.7445 21.9705C23.0206 21.5839 23.3426 21.4667 23.7567 21.6659C25.0564 22.2869 26.3446 22.9195 27.6327 23.5405C28.0353 23.7397 28.0123 24.1146 27.9893 24.4895C27.8628 26.5867 26.7471 27.6997 24.4928 28.2855C23.4461 28.555 22.3995 28.3675 21.3643 28.0512C17.1662 26.8093 14.0032 24.1497 11.4384 20.6349C10.5067 19.3578 9.62109 18.0456 9.24154 16.464C9.12652 16.007 9.08051 15.4915 9 14.9877Z' fill='black'/%3E%3C/svg%3E");
            }

            &.tg {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='40' viewBox='0 0 44 40' fill='none'%3E%3Cpath d='M23.4492 32.7406C22.9058 33.2314 22.3478 33.7222 21.8045 34.213C20.7472 35.1657 19.7045 36.1328 18.6325 37.0567C17.6046 37.9372 15.7249 37.9228 14.8438 36.6381C14.3299 35.9019 14.0655 35.0646 13.8012 34.2274C12.8614 31.2538 11.9362 28.2657 11.0257 25.292C10.967 25.0755 10.8495 24.9889 10.6439 24.9167C8.04471 24.065 5.44549 23.2134 2.84626 22.3473C1.81831 22.0008 0.937221 21.4378 0.393879 20.4851C-0.41379 19.056 0.0414419 17.396 1.56867 16.5299C2.43508 16.0391 3.36023 15.6782 4.28538 15.3029C6.6937 14.2924 9.11671 13.2964 11.5397 12.3004C15.3137 10.7414 19.1024 9.16797 22.8765 7.60897C26.4155 6.15102 29.9399 4.67863 33.479 3.22068C35.4174 2.42675 37.3558 1.61838 39.3089 0.838884C40.19 0.478005 41.1151 0.37696 42.0256 0.723404C43.3766 1.24307 44.1843 2.55667 43.964 4.07236C43.7878 5.32822 43.5088 6.56964 43.2738 7.8255C42.892 9.75981 42.5102 11.6941 42.1284 13.6284C41.7906 15.3462 41.4382 17.064 41.1004 18.7818C40.4543 22.0153 39.8228 25.2487 39.1767 28.4678C38.6627 31.0661 38.1341 33.65 37.6348 36.2483C37.1942 38.5579 34.874 39.8138 32.5391 39.222C31.8049 39.0343 31.2469 38.6012 30.6741 38.1682C28.3246 36.3927 25.9603 34.6171 23.6107 32.8416C23.552 32.7983 23.5079 32.7694 23.4492 32.7406ZM17.2228 33.7943C19.264 31.9611 21.2611 30.1711 23.2583 28.3812C23.317 28.4245 23.3464 28.4389 23.3757 28.4678C25.9016 30.3732 28.4127 32.2642 30.9385 34.1697C31.6727 34.7182 32.3923 35.2812 33.1412 35.8153C33.6258 36.1617 34.1838 36.1906 34.316 35.4544C34.6831 33.4912 35.0796 31.5425 35.4614 29.5937C36.225 25.7395 36.9887 21.8709 37.767 18.0167C38.6187 13.7439 39.4704 9.47111 40.3221 5.18387C40.4102 4.77968 40.469 4.36106 40.5571 3.8847C28.2658 8.98031 16.0333 14.0326 3.75672 19.1138C3.8742 19.1571 3.93294 19.1715 3.99168 19.2004C6.89929 20.1676 9.82159 21.1058 12.7145 22.1163C13.4047 22.3617 13.904 22.3184 14.5354 21.9286C18.6032 19.4025 22.7002 16.9341 26.7826 14.4368C29.0294 13.0655 31.2762 11.6941 33.5377 10.3372C33.8901 10.1207 34.2426 9.9186 34.6244 9.77424C34.7859 9.7165 35.0943 9.73094 35.2118 9.84642C35.388 10.0341 35.3733 10.3083 35.1677 10.5249C35.0649 10.6404 34.9621 10.7558 34.8447 10.8569C32.5685 12.9355 30.307 15.0286 28.0309 17.1073C24.947 19.9366 21.8632 22.7659 18.7794 25.5807C18.5738 25.7684 18.4857 25.9561 18.4416 26.2159C18.1626 28.0058 17.8689 29.8102 17.5752 31.6002C17.4577 32.322 17.3403 33.0293 17.2228 33.7943Z' fill='black'/%3E%3C/svg%3E");
            }
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 16px;

        h3 {
          margin: 0;
          display: block;
          padding: 0;
          color: #FFF;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          @include common.tab-min {
            font-size: 28px;
          }
        }

        h4 {
          color: #99C0E5;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;
          font-size: 16px;
          @include common.tab-min {
            font-size: 22px;
          }
        }

        p {
          font-size: 12px;
          margin: 0;
          @include common.tab-min {
            font-size: 16px;
          }

          a, a:visited {
            color: #4497e6;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          &.-mob {
            margin-top: 20px;
          }

          &.-dt {
            margin-bottom: 10px;
          }
        }

        input {
          background: none;
          border: none;
          border-bottom: 1px solid #ffffff;
          width: 100%;
          padding: 4px 16px;
          font-size: 16px;
          color: #ffffff;
          outline: none;
          margin-bottom: 20px;

          &.i {
            border-bottom-color: #f00;
          }

          @include common.tab-min {
            font-size: 22px;
            margin-bottom: 10px;
          }
        }

        button {
          background: #000;
          padding: 8px 20px;
          margin: 0;
          width: 100%;
          height: 44px;
          color: #ffffff;
          text-decoration: none;
          border: 1px solid #ffffff;

          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          cursor: pointer;

          transition: all .2s ease-in-out;

          @include common.tab-min{
            font-size: 18px;
            height: 61px;
          }

          &:not([disabled]):hover {
            background: #fff;
            color: #000000;
          }

          &[disabled] {
            cursor: not-allowed;
            opacity: .6;
          }
        }
      }
    }
  }
}
